.container {
  width: 100%;
  box-sizing: border-box;
}
.containerItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 7px;
}
.benefits {
  width: 100%;
  display: flex;
  gap: 7px;
}
.item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.waitingNotice {
  background: var(--color-gray-bg);
  font-size: var(--font-size-xs);
  color: var(--color-black);
  padding: 8px;
  text-align: center;
}