.StarUploadButtonContainer {
  display: flex;
  position: relative;
  width: clamp(100px, 10vw, 120px);
  height: clamp(100px, 10vw, 120px);
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  font-size: var(--font-size-md);
  background: var(--color-blue-bg);
  cursor: pointer;
}

.HiddenStarUploadButton {
  opacity: 0;
  position: absolute;
  overflow: hidden;
}
