.StarUploadButtonContainer {
  display: flex;
  position: relative;
  min-width: 120px;
  min-height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  font-size: var(--font-size-md);
  background: var(--color-blue-bg);
  cursor: pointer;
}

.HiddenStarUploadButton {
  opacity: 0;
  position: absolute;
  overflow: hidden;
}
