.detailHeader {
  width: min(100%, var(--size-max-width));
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* 상단에 고정 */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* 다른 요소보다 위에 위치 */
  padding: 0 20px;
  background-color: white;
}

.logoLink {
  height: 50px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icons {
  display: flex;
  align-items: center;
  gap: var(--margin-md);
  position: absolute;
  left: var(--padding-xl);
  margin: auto 0px;
  .icon {
    display: flex;
    align-items: center;
  }
}

.icons svg {
  cursor: pointer;
}
