.homeContainer {
  @include pageContainer;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.courseListView {
  flex: 1;
}

.trash {
  flex-shrink: 0;
  cursor: pointer;
}

.emptyNoticeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.text {
  font-size: var(--font-size-lg);
}
