.noticeContainer {
  h4 {
    font-size: var(--font-size-sm);
    font-weight: 400;
    margin-bottom: var(--margin-sm);
  }
  .notice {
    background-color: var(--color-blue-bg);
    padding: var(--padding-sm);
    border-radius: 10px;
    font-size: var(--font-size-sm);

    list-style-type: disc !important;
    list-style-position: outside;
    padding-left: 20px;
  }
}
