.radioLabel {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

.customRadio {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-primary);
  border-radius: 50%;
  margin-right: 8px;
  transition: border-color 0.2s ease;
  position: relative;
}

.radioInput:checked + .customRadio {
  border-color: var(--color-primary);
}

.radioInput:checked + .customRadio::after {
  content: "✓";
  font-size: 14px;
  color: var(--color-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioText {
  font-size: 14px;
}
.radioItem {
  display: flex;
  gap: 10px; /* 아이템 간의 간격 설정 */
  width: 100%;
}
.radioOption {
  flex: 1; /* 각 아이템이 동일한 너비를 차지하게 함 */
}