@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Primary */
  --color-primary: #8696bb;
  --color-secondary: #444e63;

  --divider: #e7eaf1;
  --color-heart: #dd8560;

  /* Text Color */
  --color-black: #333;
  --color-gray-1: #767676;
  --color-gray-2: #cdcdcd;

  /* Background Color */
  // 임시 배경색, 추후에 변경 필요
  --color-bg: #767676;
  --color-gray-bg: #f5f5f5; // 마이페이지 배경에 사용되는 회색
  --color-blue-bg: #f3f4f8; // 기본적으로 사용되는 푸른끼 도는 배경색

  /* Button Disabled Color */
  --color-disabled: #f3f4f8;

  /* font-size */
  --font-size-micro: clamp(10px, 0.5vw, 12px);
  --font-size-xs: clamp(12px, 1vw, 14px);
  --font-size-sm: clamp(15px, 1.5vw, 16px);
  --font-size-md: clamp(16px, 2vw, 18px);
  --font-size-lg: clamp(18px, 2vw, 20px);
  --font-size-xl: clamp(20px, 2vw, 22px);
  --font-size-xxl: clamp(24px, 3vw, 26px);

  /* size */
  --size-max-width: 500px;
  --size-gap: 20px;

  /* Padding Sizes */
  --padding-xs: clamp(6px, 0.8vw, 8px);
  --padding-sm: clamp(10px, 1.5vw, 14px);
  --padding-md: clamp(12px, 2vw, 16px);
  --padding-lg: clamp(16px, 2.5vw, 20px);
  --padding-xl: clamp(20px, 3vw, 24px);
  --padding-xxl: clamp(24px, 4vw, 32px);

  /* Margin Sizes */
  --margin-xs: clamp(6px, 0.8vw, 8px);
  --margin-sm: clamp(10px, 1.5vw, 14px);
  --margin-md: clamp(12px, 2vw, 16px);
  --margin-lg: clamp(16px, 2.5vw, 20px);
  --margin-xl: clamp(20px, 3vw, 24px);
  --margin-xxl: clamp(24px, 4vw, 32px);
}

* {
  box-sizing: border-box;
}

body {
  width: min(100%, var(--size-max-width));
  margin: auto;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  font-family: "Pretendard", sans-serif;
  font-size: var(--font-size-sm);
  font-weight: 400;
  overflow-y: scroll;
  background-color: var(--color-gray-2);

  #root {
    background-color: white;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

h1,
h2,
h3,
p,
input,
button,
fieldset,
ul,
figure,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

input,
textarea,
button {
  background-color: transparent;
  letter-spacing: inherit;
  border: none;
  outline: none;
  font: inherit;
  padding: 0;
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

input {
  font-family: "SUIT-Regular", sans-serif;
}

::placeholder {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
