.dateSelectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 160px;
}

.dateSelectContainer {
  display: flex;
  position: relative;
  width: 100%;
  padding: var(--padding-xs) var(--padding-md);
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
  background: var(--color-blue-bg);
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.selectedDate {
  flex: 1;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.hiddenDateInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  margin-right: var(--margin-xs);
}
