.scrollCardContainer {
  background-color: var(--color-white);
  border-radius: 16px;
  width: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  margin: 0 auto;
  gap: 12px;
}

.gridStar {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 7px;
}
.gridStar::-webkit-scrollbar {
  display: none;
}
.gridStar > * {
  flex: 0 0 auto; /* 아이템들이 축소되지 않도록 설정 */
}

.swipeContainer {
  background-color: var(--color-white);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  width: 100%;
  touch-action: pan-y; /* 세로 스크롤 방해 방지 */
}

.swipeWrapper {
  display: flex;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
  padding: 10px;
}

.swipeItem {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  box-sizing: border-box;
  padding: 10px;
}

/* 페이지네이션 스타일 */
.swipePagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 4px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #333;
}
