.tagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-xs) var(--padding-sm);
  border: 1px solid var(--divider);
  border-radius: 30px;
  font-size: var(--font-size-sm);
}
