// .timeCheckBox {
//   display: flex;
// }

// .timeCheckBoxContainer {
//   display: flex;
//   gap: 12px;
// }

// .timeCheckBoxItem {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: var(--padding-xs) var(--padding-md);
//   border-radius: 20px;
//   background-color: var(--color-disabled);
//   color: var(--color-gray-2);
//   font-weight: 500;
// }

// .timeCheckBoxInput {
//   position: absolute;
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .timeCheckBoxInput:checked + span {
//   background-color: var(--color-primary);
//   color: var(--color-white);
//   padding: var(--padding-xs) var(--padding-md);
//   border-radius: 20px;
// }

.dateSelectContainer {
  background-color: darkcyan;
  border: none;
  width: 100%;
  overflow: hidden;
}

.dateSelectLabel {
  font-size: var(--font-size-sm);
  padding-left: 0;
}

.dateSelectWrapper {
  padding-top: var(--padding-xs);
  display: flex;
  gap: 12px;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.dateSelectInput {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--padding-xs) var(--padding-md);
  border-radius: 40px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  white-space: nowrap;
  min-width: 80px;
  flex-shrink: 0;
}
