.dateTimeSelectForm {
  width: 100%;
}

.dateTimeSelectContainer {
  border: none;
  min-width: 100%;
  overflow: hidden;
}

.dateTimeSelectTitle {
  font-size: var(--font-size-sm);
  padding-left: 0;
}

.dateTimeSelectWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  padding: var(--padding-xs) 0;
}

.dateSelectWrapper::-webkit-scrollbar {
  display: none;
}

.dateTimeSelectLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-xs) var(--padding-md);
  border-radius: 40px;
  background-color: var(--color-blue-bg);
  color: var(--color-gray-2);
  font-size: var(--font-size-sm);
  font-weight: 500;
  white-space: nowrap;
}

.dateTimeSelectLabel:has(input:checked) {
  background-color: var(--color-primary);
  color: var(--color-white);
}

// .dateTimeSelectInput:checked + p {
//   background-color: var(--color-primary);
//   color: var(--color-white); /* 글자색 변경 */
// }

// .dateTimeSelectInput:checked + p {
//   background-color: var(--color-primary);
//   color: var(--color-white); /* 글자색 변경 */
// }
