.actions {
  position: fixed;
  z-index: 1000;
  bottom: 24px;
  text-align: center;
  max-width: calc(var(--size-max-width) - 2 * var(--size-gap));
  width: calc(100% - 2 * var(--size-gap));
  padding: var(--padding-xs) var(--padding-md);
  font-size: var(--font-size-md);
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.btn {
  padding: 8px 0;
  flex-grow: 1;
  border-radius: 100px;
  border-radius: 100px;
  font-size: var(--font-size-md);
  text-align: center;
}

.cancel-btn {
  @extend .btn;
  background-color: var(--color-gray-2);
  color: var(--color-white);
}

.confirm-btn {
  @extend .btn;
  background-color: var(--color-primary);
  color: var(--color-white);

  &:disabled {
    background-color: var(--color-disabled);
  }
}
